[data-theme='light'] {
	--border-color: rgb(70, 70, 70);
}
[data-theme='dark'] {
	--border-color: #ececec;
}

.project-item {
	display: flex;

	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);

	p {
		margin: 0.5rem 0;
		padding: 0.5rem 0;
	}

	p:not(:first-child) {
		border-left: 1px solid var(--border-color);
		padding-left: 1rem;
	}
}

.proj-id {
	width: 10%;
	text-align: center;
}

.proj-title {
	width: 65%;
}

.proj-date {
	width: 15%;
	text-align: center;
}
.proj-btn-container {
	width: 10%;
	display: flex;
	place-items: center;
	justify-content: center;
}
