[data-theme='light'] {
	--proj-header-color: rgb(70, 70, 70);
	--proj-header-text: #ececec;
}
[data-theme='dark'] {
	--proj-header-color: rgba(255, 255, 255, 0.75);
	--proj-header-text: black;
}

.project-header {
	display: flex;
	margin-top: 1rem;
	color: var(--proj-header-text);
	background-color: var(--proj-header-color);

	p {
		font-weight: 700;
	}

	p:not(:first-child) {
		padding-left: 1rem;
	}
}
