[data-theme='light'] {
	--main-text-color: rgba(0, 0, 0, 0.87);
	--a-color: #339ebc;
	--a-hvr-color: #24b9e3;
	--background-color: rgb(200, 200, 200);
	--btn-color: #d8d8d8;
	--btn-bg-color: #1a1a1a;
	--btn-hv-border-color: #24b9e3;
	--nav-bg-color: #ececec;
	--bx-sh-setting: 0 5px 5px rgba(0, 0, 0, 0.25);
}
[data-theme='dark'] {
	--main-text-color: rgba(237, 237, 237, 0.87);
	--a-color: #339ebc;
	--a-hvr-color: #339ebc;
	--background-color: #181818;
	--btn-color: #0d0d0d;
	--btn-bg-color: #7a7a7a;
	--btn-hv-border-color: #339ebc;
	--nav-bg-color: rgb(70, 70, 70);
	--bx-sh-setting: 0 5px 5px rgba(255, 255, 255, 1);
}

.nb-button-container {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-right: 1rem;
}

.navbar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border-radius: 0 0 3rem 3rem;

	box-shadow: var(--bx-sh-setting);
	background-color: var(--nav-bg-color);
}

.nb-button-container {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-right: 1rem;
}
