[data-theme='light'] {
	--main-text-color: rgba(0, 0, 0, 0.87);
	--a-color: #339ebc;
	--a-hvr-color: #24b9e3;
	--background-color: rgb(200, 200, 200);
	--btn-color: #d8d8d8;
	--btn-bg-color: #1a1a1a;
	--btn-hv-border-color: #24b9e3;
	--nav-bg-color: #ececec;
	--bx-sh-setting: 0 5px 5px rgba(0, 0, 0, 0.25);
}
[data-theme='dark'] {
	--main-text-color: rgba(255, 255, 255, 0.87);
	--a-color: #339ebc;
	--a-hvr-color: #339ebc;
	--background-color: #181818;
	--btn-color: #000000;
	--btn-bg-color: #8f8f8f;
	--btn-hv-border-color: #339ebc;
	--nav-bg-color: rgb(45, 45, 45);
	--bx-sh-setting: 0 5px 5px rgba(255, 255, 255, 1);
}

.nb-button-container {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-right: 3rem;
}

.navbar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border-radius: 0 0 3rem 3rem;

	box-shadow: var(--bx-sh-setting);
	background-color: var(--nav-bg-color);
}

h1 {
	margin-left: 3rem;
	font-size: 3.2em;
	line-height: 0.5;

	color: var(--main-text-color);
}
