[data-theme='light'] {
	--footer-bg-color: #ececec;
	--li-style-color: black;
}
[data-theme='dark'] {
	--footer-bg-color: rgb(70, 70, 70);
	--li-style-color: yellow;
}

.footer {
	display: flex;
	justify-content: center;
	gap: 3rem;
	width: 100%;
	border-radius: 2rem 2rem 0 0;
	padding: 0.5rem 0;

	background-color: var(--footer-bg-color);
}

.footer-item {
	color: var(--li-style-color);
}
