[data-theme='light'] {
	--border-color: rgb(70, 70, 70);
}
[data-theme='dark'] {
	--border-color: #ececec;
}

.bug-item {
	display: flex;

	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);

	p {
		margin: 0.5rem 0;
	}

	p:not(:first-child) {
		border-left: 1px solid var(--border-color);
		/* padding-left: 1rem; */
	}
}

.bug-id {
	width: 10%;
	text-align: center;
	padding: 0.5rem 0;
}

.bug-name {
	width: 40%;
	padding-left: 1rem;
	padding: 0.5rem 1rem;
}
.bug-priority {
	width: 15%;
	text-align: center;
	padding: 0.5rem 0;
}
.bug-project {
	width: 7%;
	text-align: center;
	padding: 0.5rem 0;
}
.bug-timeCreated {
	width: 30%;
	font-size: small;
	text-align: center;
	padding: 0.5rem 0;
}
.bug-btn-container {
	width: 10%;
	display: flex;
	place-items: center;
	justify-content: center;
}
